
DATABASE_URL="postgresql://postgres:prisma@localhost:5432/postgres?schema=public"

JWT_SECRET=""

PASSWORD_SECRET=""

BANCKEND_URL=""

BUCKET_NAME=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
